:where(
  .anatomy-map__figure[data-interactive="true"] .anatomy-muscle
) {
  cursor: pointer;
  pointer-events: all;
}

:where(
  .anatomy-map__figure[data-interactive="true"] .anatomy-muscle:hover
) {
  fill: var(--primary) !important;
  fill-opacity: 0.2 !important;
  stroke: var(--primary) !important;
  stroke-opacity: 1 !important;
}

:where(
  .anatomy-map__figure[data-interactive="true"]
    .anatomy-muscle:focus-visible
) {
  fill: var(--primary) !important;
  fill-opacity: 0.25 !important;
  outline: none;
  stroke: var(--primary) !important;
  stroke-opacity: 1 !important;
  stroke-width: 3px;
}
